<section class="container">
  <div class="container__header">
    <span>Tasks</span>
    <button (click)="addNewTask()" color="accent" mat-fab>
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>

  <table [dataSource]="userTasks()" aria-label="table" class="mat-elevation-z8" mat-table>
    @for (column of displayedColumns; track $index) {
      <ng-container [matColumnDef]="column">
        <th *matHeaderCellDef mat-header-cell>{{ column | titlecase }}</th>
        <ng-container [ngSwitch]="column">
          <ng-container *ngSwitchCase="'completed'">
            <td *matCellDef="let element" mat-cell>
              @if (element[column] === true) {
                <mat-icon color="accent">done</mat-icon>
              }

              @if (element[column] === false) {
                <mat-icon color="warn">schedule</mat-icon>
              }
            </td>
          </ng-container
          >

          <ng-container *ngSwitchDefault
          >
            <td *matCellDef="let element" mat-cell>
              {{ element[column] }}
            </td>
          </ng-container
          >
        </ng-container>
      </ng-container>
    }

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell>Status</th>
      <td *matCellDef="let task" mat-cell>
        <button
          (click)="updateTask(task)"
          [disabled]="task.completed"
          color="accent"
          mat-icon-button
          matTooltip="Click to complete task"
        >
          <mat-icon aria-label="Edit">done_all</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th *matHeaderCellDef mat-header-cell>Delete Task</th>
      <td *matCellDef="let task" mat-cell>
        <button
          (click)="deleteTask(task.id)"
          color="warn"
          mat-icon-button
          matTooltip="Click to delete task"
        >
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="fullColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: fullColumns" mat-row></tr>
  </table>

  <mat-divider></mat-divider>

  <div class="container__actions">
    <button color="warn" mat-raised-button routerLink="/">Back</button>
  </div>
</section>
